body {
    font-family: Arial;
    background: #f0f0f0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: auto;
}

.header {
    background: #111;
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
}

.ordem {
    background: white;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#servicos div {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    opacity: 0.8;
}

.total {
    text-align: right;
    font-size: 18px;
    margin-top: 20px;
}

#historico {
    margin-top: 30px;
    background: white;
    padding: 15px;
    border-radius: 10px;
}